*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

body
{
    max-width: 1980px;
    background: #260c0c;
}

.cabecalho
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ff0032, #260c0c, #170000);;
    padding: 10%;
    color: #fff;
}

nav
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 10px;
}

hr
{
    margin-bottom: 40px;
}

.icone-menu
{
    width: 160px;
    cursor: pointer;
}

nav > ul
{
    flex: 1;
    text-align: right;
    padding-right: 40px;

}

nav > ul > li
{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}

nav > ul > li > a
{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
}

nav > ul > li > a:hover
{
    font-weight: bold;
    box-shadow: 4px 1px 49px 1px rgb(255, 255, 255,0.2);
}



.texto
{
    margin-top: 40%;

}

.texto p
{
    letter-spacing: 1px;
    line-height: 36px;
    font-size: 18px;
}

.texto p mark
{
    font-weight: 600;
    padding: 3px;
    background-color: #ffffff;
}

.texto p a
{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
    color: #acc8f8;
    border: solid #98130a 2px;

}

.texto p a:hover
{
    font-weight: 600;
    font-size: 18px;
    box-shadow: 4px 1px 49px 1px rgb(189, 81, 81);
}

.sobre
{
    font-family: 'Noto Sans', sans-serif;

}

.texto > h1
{
    font-size: 65px;
    line-height: 160px;
    font-family: 'Righteous', cursive;

}

.texto > a
{
    margin-top: 30px;
    display: inline-block;
    border-radius: 13px;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.texto > a:hover
{
    box-shadow: 4px 1px 49px 1px rgb(189, 81, 81);
    font-weight: 600;
}

.img-proj
{
    margin: 10px 0;
    width: 340px;
    height: 100%;
}

@media (max-width: 1600px) {
    .cabecalho
    {
        padding: 5%;
    }

    .texto
    {
        margin-top: 7%;
    }
    .texto p
    {
        font-size: 16px;

    }

    .texto h1
    {
        font-size: 50px;
        line-height: 120px;
    }

}

@media(max-width: 785px)
{
    .cabecalho
    {
        height: auto;
    }

    nav > ul > li
    {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
    }

    .texto p
    {
        font-size: 14px;
    }
    .texto h1
    {
        font-size: 35px;
        line-height: 80px;
    }

    .texto > a
    {
        margin-top: 10px;
        display: inline-block;
        border-radius: 13px;
        padding: 5px 10px;
        text-decoration: none;

    }



}